# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
generated_plugin_registrant.dart

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# MacOS
.DS_Store
