# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
generated_plugin_registrant.dart

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# MacOS
.DS_Store

.vscode/templates

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environments
venv/
env/
ENV/

# pipenv
Pipfile.lock

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype
.pytype/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

.env
__pycache__/
venv/